<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" context="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title> SignIn Page</title>
</head>
<body>
    <h3> Sign in Below: </h3>
    <form method="post" action="{% url 'signin' %}">
        {% csrf_token %}
        <label>User name:</label>
        <input type="text" id="username" name="username">
        <br><br>
        <label>Password :</label>
        <input type="text" id="pwd" name="password">
        <br><br>
        <br>
        <button type="submit">SUBMIT</button>
    </form>
    
</body>
</html> 